*.dll
*.dll.*
*.so
*.exp
*.rock
*.gcov
*.gcda
*.gcno
*.pb
*.dSYM
*.out
test*.lua
lua*/
test*
*.natvis
out*
/Win32/Release/*.log
/Win32/Release/*.obj
/Win32/Release/pb.tlog/*.tlog
/Win32/Release/pb.tlog/*.lastbuildstate
/Win32/Release/*.txt
